{% set anonymous = session('glpiactiveprofile') is null %}

<body class="{{ user_pref('fold_menu') and is_vertical ? 'navbar-collapsed' : '' }} {{ is_vertical ? 'vertical-layout' : 'horizontal-layout' }} {{ is_debug_active ? 'debug-active' : '' }}">
   {{ include('components/messages_after_redirect_toasts.html.twig', {'display_container': true}) }}

   <div class="page">

      <header class="navbar d-print-none sticky-lg-top shadow-sm {{ user_pref('page_layout') == 'vertical' ? 'navbar-light navbar-expand-md' : 'navbar-dark navbar-expand-xl topbar' }}">
         <div class="container flex-xl-nowrap pe-xl-0">
             <a href="https://expertline.ro" accesskey="1" title="expertline.ro"
                class="navbar-brand navbar-brand-autodark">
                 <span class="glpi-logo"></span>
             </a>

            <div class="ml-auto flex-grow-0">
                Închiriere copiatoare
                <a class="d-block text-end" href="tel:+40213202420">(+4 021-320.24.20)</a> <a class="d-block text-end" title="Expertline" href="https://webexpertline.ro" target="_blank">webexpertline.ro</a>
            </div>

         </div>
      </header>

      <div class="page-wrapper mb-0">
         <div class="page-body container-fluid">
            <main role="main" id="page" class="legacy">
