<div class="container">
    <div class="row g-3 justify-content-evenly">
        <div class="mt-0 col-12 col-lg-6 col-xxl-3">
            <label for="old-host"></label>
            <input class="full-width" disabled="disabled" id="old-host" name="old_host" type="text" value="{{ old_db['host'] }}">
        </div>
        <div class="mt-0 col-12 col-lg-6 col-xxl-3">
            <label for="old-db"></label>
            <input class="full-width" id="old-db" name="old_db" type="text" value="{{ old_db['name'] }}">
        </div>
        <div class="mt-0 col-12 col-lg-6 col-xxl-3">
            <label for="old-user"></label>
            <input class="full-width" disabled="disabled" id="old-user" name="old_user" type="text" value="{{ old_db['user'] }}">
        </div>
        <div class="mt-0 col-12 col-lg-6 col-xxl-3">
            <label for="old-pass"></label>
            <input class="full-width" disabled="disabled" id="old-pass" name="old_pass" type="password" value="{{ old_db['pass'] }}">
        </div>
    </div>

    <div class="center my-3">
        <a class="btn btn-primary me-2" href="#" id="import-button">
            <i class="ti ti-upload"></i>
            <span onclick="importFromOldIservice('{{ url_base }}');">{{ _x('button', 'Import') }}</span>
        </a>
        <a class="btn btn-primary me-2" href="#" id="clear-button">
            <i class="ti ti-database-off"></i>
            <span onclick="clearDatabase('{{ url_base }}');">{{ _x('button', 'Clear data') }}</span>
        </a>
    </div>

    <div class="row g-3 justify-content-evenly">
        {% for import_group_id, import_group in import_groups %}
            <div class="col-12 col-lg-6 col-xxl-3">
                <div class="card">
                    <h3 class="mb-0">
                    <label class="card-header">
                        <input checked="checked" class="form-check-input card-mass-checkbox" id="{{ import_group_id }}" onclick="cardMassCheckboxClick($(this));" type="checkbox"/>
                        <i class="mx-1 fa-fw {{ import_group['icon'] }}"></i>
                        {{ import_group['title'] }}
                    </label>
                    </h3>
                    <div class="list-group list-group-flush">
                        {% for item_id, item in import_group['items'] %}
                            <label class="list-group-item list-group-item-action">
                                <input checked="checked" class="form-check-input to-process" data-itemtype="{{ item['itemtype'] }}" onclick="adjustCardMassCheckbox($(this).closest('.card'));" id="{{ import_group_id }}_{{ item_id }}" type="checkbox"/>
                                <span class="float-end"><i class="process-result fas"></i></span>
                                {{ item['label'] }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
