{% import 'components/form/fields_macros.html.twig' as fields %}

{% set params  = params ?? [] %}
{% set no_header = no_header|default(not item.isNewItem() and not _get._in_modal|default(false)) %}
{% set bg = '' %}
{% if item.isDeleted() %}
    {% set bg = 'asset-deleted' %}
{% endif %}

<div class="asset {{ bg }}">
    {{ include('components/form/header.html.twig', {'in_twig': true}) }}

    {% set rand = random() %}
    {% set params  = params ?? [] %}
    {% set withtemplate = params['withtemplate'] ?? '' %}
    {% set item_type = item.getType() %}
    {% set field_options = {
        'locked_fields': item.getLockedFields(),
        'full_width': true,
    } %}

    <div class="card-body d-flex flex-wrap">
        <div class="col-12 col-xxl-10 flex-column">
            <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
                <div class="row flex-row align-items-start flex-grow-1">
                    <div class="row flex-row">
                        {% block form_fields %}
                            {{ fields.dropdownField(
                                'Supplier',
                                'suppliers_id',
                                partnerId,
                                'Supplier'|itemtype_name,
                                field_options|merge({
                                    'toupdatexxx': {
                                        'url': printerOptionsUrl,
                                        'to_update': 'dropdown_printer_id' ~ rand,
                                    },
                                    'on_changeeeee': "console.log('on_change'); $('#dropdown_printer_id" ~rand~ "').load('/plugins/iservice/ajax/iServiceGetDropdownValue.php');",
                                    'on_changeeeee': "submit form with supplier_id and send the supplier id back from show form...",
                                    'on_change': "$(this).closest('form').submit();",
                                })
                            ) }}

                            {{ fields.dropdownField(
                                'Printer',
                                'printer_id',
                                printerId,
                                'Printer'|itemtype_name,
                                field_options|merge({
                                    'rand': rand,
                                    'urlxxxx': printerOptionsUrl,
                                    'condition': {
                                        'LEFT JOIN': {
                                            'glpi_infocoms as i': {
                                                'ON': {
                                                    'i': 'items_id',
                                                    'glpi_printers': 'id'
                                                }
                                            }
                                        },
                                        'WHERE': {
                                            'i.suppliers_id': partnerId,
                                        }
                                    }
                                })
                            ) }}

                            {{ fields.textField(
                                'name',
                                item.fields['name'],
                                __('Title'),
                                field_options
                            ) }}

{#                            {{ fields.textareaField(#}
{#                                'content',#}
{#                                item.fields['content'],#}
{#                                __('Content'),#}
{#                                field_options|merge({#}
{#                                    'enable_richtext': 1,#}
{#                                })#}
{#                            ) }}#}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('components/form/buttons.html.twig') }}
    {% if no_inventory_footer is not defined or no_inventory_footer == false %}
        {{ include('components/form/inventory_info.html.twig') }}
    {% endif %}

    {% if params['formfooter'] is null or params['formfooter'] == true %}
        <div class="card-footer mx-n2 mb-n2 mt-4">
            {{ include('components/form/dates.html.twig') }}
        </div>
    {% endif %}
</div>

