{% import 'components/form/fields_macros.html.twig' as fields %}
{% import '@iservice/components/fields_macros.html.twig' as fieldsIservice %}

{% set params  = params ?? [] %}
{% set no_header = no_header|default(not item.isNewItem() and not _get._in_modal|default(false)) %}
{% set bg = '' %}
{% if item.isDeleted() %}
    {% set bg = 'asset-deleted' %}
{% endif %}

<div class="asset {{ bg }}">
    {{ include('components/form/header.html.twig', {'in_twig': true}) }}

    {% set params  = params ?? [] %}
    {% set item_type = item.getType() %}
    {% set field_options = {
        'locked_fields': item.getLockedFields(),
        'full_width': true,
        'fields_template': iServiceTicketTemplate,
        'disabled': isClosed,
    } %}

    <div class="card-body d-flex flex-wrap">
        <div class="col-12 col-xxl-10 flex-column">
            <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
                <div class="row flex-row align-items-start flex-grow-1">
                    <div class="row flex-row form-elements-container">
                        {% if (item.id ?? 0) > 0 %}
                            <div class="pt-2 mt-2">
                                {{ fields.readOnlyField(
                                    'id',
                                    item.fields['id'],
                                    __('ID'),
                                    field_options
                                ) }}
                            </div>
                        {% endif %}

                        {% block form_fields %}
                            <div class="pt-2 mt-2">
                                {{ include('@iservice/pages/support/components/supplier_printer_location_unpaidi.html.twig') }}
                            </div>

                            <div class="pt-2 mt-2">
                                {{ include('@iservice/pages/support/components/printer_counter.html.twig') }}
                            </div>

                            <div class="pt-2 mt-2">
                                {{ fields.dropdownField(
                                    'ITILCategory',
                                    'itilcategories_id',
                                    item.fields['itilcategories_id'],
                                    __('Category'),
                                    field_options|merge({
                                        'required': true
                                    })
                                ) }}
                            </div>

                            <div class="pt-2 mt-2">
                                {{ include('@iservice/pages/support/components/ticket_documents.html.twig') }}
                            </div>

                            <div class="pt-2 mt-2">
                                {{ include('@iservice/pages/support/components/title_content.html.twig') }}
                            </div>

                            <div class="pt-2 mt-2 ticket-follow-up-section">
                                {{ include('@iservice/pages/support/components/follow_up.html.twig') }}
                            </div>

                            {% if printerCartridgesConsumablesData %}
                                <div class="pt-2 mt-2">
                                    {{ include('@iservice/pages/support/components/cartridges_consumables_table.html.twig') }}
                            </div>
                            {% endif %}

                            {% if printer %}
                                <div class="pt-2 mt-2 ticket-change-cartridge-section">
                                    {{ include('@iservice/pages/support/components/changeables_table.html.twig') }}
                                </div>
                            {% endif %}

                            <div class="pt-2 mt-2">
                                {{ include('@iservice/pages/support/components/status_and_checkboxes.html.twig') }}
                            </div>

                            {% if printerStatus > 0 %}
                                <div class="pt-2 mt-2">
                                    {{ fields.readOnlyField(
                                        'printer_status',
                                        printerStatus,
                                        __('Printer status'),
                                        field_options
                                    ) }}
                                </div>
                            {% endif %}

                            <div class="pt-2 mt-2">
                                {{ include('@iservice/pages/support/components/export_type.html.twig') }}
                            </div>

                            <div class="pt-2 mt-2 consumables-section">
                                {{ include('@iservice/pages/support/components/consumables_section.html.twig') }}
                            </div>

                            <div class="pt-2 mt-2">
                                {{ include('@iservice/pages/support/components/effective_date.html.twig') }}
                            </div>

                            {% if movementRelatedFields %}
                                <div class="pt-2 mt-2">
                                    {{ include('@iservice/pages/support/components/movement_related_fields.html.twig') }}
                                </div>
                            {% endif %}

                            {% if emMailIdField %}
                                <div class="pt-2 mt-2">
                                    {{ fields.hiddenField(
                                        'em_mail_id_field',
                                        emMailIdField,
                                        '',
                                        field_options|merge({
                                            'no_label': true,
                                        })
                                    ) }}
                                </div>
                            {% endif %}

                            {% if verifyLastTonerInstalation %}
                                <div class="pt-2 mt-2">
                                    {{ fieldsIservice.customFormRow(
                                        'verifyLastTonerInstalation',
                                        '',
                                        verifyLastTonerInstalation.text,
                                        field_options|merge({
                                            'title': verifyLastTonerInstalation.title,
                                            'valueClass': verifyLastTonerInstalation.class
                                        })
                                    ) }}
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('@iservice/pages/support/components/buttons.html.twig') }}
</div>

