{% import 'components/form/fields_macros.html.twig' as fields %}
{% import '@iservice/components/fields_macros.html.twig' as fieldsIservice %}

{% set params  = params ?? [] %}
{% set no_header = no_header|default(not item.isNewItem() and not _get._in_modal|default(false)) %}
{% set bg = '' %}
{% if item.isDeleted() %}
    {% set bg = 'asset-deleted' %}
{% endif %}

<div class="asset {{ bg }}">
    {{ include('components/form/header.html.twig', {'in_twig': true}) }}

    {% set params  = params ?? [] %}
    {% set withtemplate = params['withtemplate'] ?? '' %}
    {% set item_type = item.getType() %}
    {% set field_options = {
        'locked_fields': item.getLockedFields(),
        'full_width': true,
    } %}

    <div class="card-body d-flex flex-wrap">
        <div class="col-12 col-xxl-10 flex-column">
            <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
                <div class="row flex-row align-items-start flex-grow-1">
                    <div class="row flex-row">
                        {% block form_fields %}
                            {{ include('@iservice/pages/support/components/supplier_printer_location_unpaidi.html.twig') }}

                            {{ fields.numberField(
                                'total2_black_field',
                                item.customfields.fields['total2_black_field'],
                                __('Black counter reading', 'iservice'),
                                field_options|merge({
                                    'min': total2BlackRequiredMinimum,
                                    'disabled': total2BlackDisabled
                                })
                            ) }}

                            {% if printer.isColor() %}
                                {{ fields.numberField(
                                    'total2_color_field',
                                    item.customfields.fields['total2_color_field'],
                                    __('Color counter reading', 'iservice'),
                                    field_options|merge({
                                        'min': total2ColorRequiredMinimum,
                                        'disabled': total2ColorDisabled
                                    })
                                ) }}
                            {% endif %}

                            {{ fields.dropdownField(
                                'ITILCategory',
                                'itilcategories_id',
                                item.fields['itilcategories_id'],
                                __('Category'),
                                field_options
                            ) }}

                            {{ include('@iservice/pages/support/components/title_content.html.twig') }}

                            {{ include('@iservice/pages/support/components/follow_up.html.twig') }}

                            {% set field_options = field_options|merge({
                                'on_change': 'if (' ~ alertOnStatusChange ~ ' == 1 && $(this).val() != ' ~ solvedStatusValue ~ ') { alert("ATENȚIE! Schimbând starea tichetului, data efectivă va deveni data curentă în loc de ' ~ item.customfields.fields['effective_date_field'] ~ '!") }',
                            }) %}

                            {{ include('components/itilobject/fields/status.html.twig') }}

                            {% set field_options = field_options|merge({
                                'on_change': null,
                            }) %}

                            {{ fields.checkboxField(
                                '_operator_reading',
                                item.fields['_operator_reading'],
                                __('Operator reading', 'iservice'),
                                field_options
                            ) }}

                            {{ fields.checkboxField(
                                'without_paper_field',
                                item.customfields.fields['without_paper_field'],
                                __('Without papers', 'iservice'),
                                field_options
                            ) }}

                            {{ fields.checkboxField(
                                'no_travel_field',
                                item.customfields.fields['no_travel_field'],
                                __('Without moving', 'iservice'),
                                field_options
                            ) }}

                            {% if consumablesTableData %}
                                {{ include('@iservice/pages/support/components/consumables_table.html.twig') }}
                            {% endif %}

                            {{ fields.checkboxField(
                                'exported_field',
                                item.customfields.fields['exported_field'],
                                __('Exported in csv and imported in hMarfa', 'iservice'),
                                field_options
                            ) }}

                            {{ fields.datetimeField(
                                'effective_date_field',
                                item.customfields.fields['effective_date_field'],
                                __('Effective date', 'iservice'),
                                field_options|merge({
                                    'min': "now"|date("Y-m-d H:i:s"),
                                })
                            ) }}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('components/form/buttons.html.twig') }}
</div>

