{% import 'components/form/fields_macros.html.twig' as fields %}
{% import '@iservice/components/fields_macros.html.twig' as fieldsIservice %}

<div class="asset container">
    {% set rand = random() %}
    {% set field_options = {
        'locked_fields': item.getLockedFields(),
        'full_width': true,
    } %}

    {% set checkboxOptions = {
        'full_width_adapt_column': false,
        'label_class': 'col-auto col-xxl-4',
        'input_class': 'col-auto col-xxl-8'
    } %}

    <div id="header" class="card-header main-header d-flex flex-wrap mx-n2 mt-n2 align-items-stretch flex-grow-1">
        <h3 class="card-title d-flex align-items-center ps-4">
            {{ infoMessage }}
        </h3>
    </div>

    <form method="post" class="form-horizontal" id="qrForm">
        <div class="card-body d-flex flex-wrap px-0">
            <div class="col-12 col-xxl-10 flex-column">
                <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
                    <div class="row flex-row align-items-start flex-grow-1">
                        <div class="ms-2 flex-row">
                            {{ fieldsIservice.checkboxFieldExtended(
                                'qr_ticket_data[replaced_cartridges][' ~ constant('GlpiPlugin\\Iservice\\Utils\\ToolBox::CARTRIDGE_COLOR_ID_BLACK') ~ ']',
                                0,
                                _t("Replaced black toner"),
                                field_options|merge(checkboxOptions)
                            ) }}
                            {% if isColorPrinter %}
                                {{ fieldsIservice.checkboxFieldExtended(
                                    'qr_ticket_data[replaced_cartridges][' ~ constant('GlpiPlugin\\Iservice\\Utils\\ToolBox::CARTRIDGE_COLOR_ID_CYAN') ~ ']',
                                    0,
                                    _t("Replaced cyan toner"),
                                    field_options|merge(checkboxOptions)
                                ) }}

                                {{ fieldsIservice.checkboxFieldExtended(
                                    'qr_ticket_data[replaced_cartridges][' ~ constant('GlpiPlugin\\Iservice\\Utils\\ToolBox::CARTRIDGE_COLOR_ID_MAGENTA') ~ ']',
                                    0,
                                    _t("Replaced magenta toner"),
                                    field_options|merge(checkboxOptions)
                                ) }}

                                {{ fieldsIservice.checkboxFieldExtended(
                                    'qr_ticket_data[replaced_cartridges][' ~ constant('GlpiPlugin\\Iservice\\Utils\\ToolBox::CARTRIDGE_COLOR_ID_YELLOW') ~ ']',
                                    0,
                                    _t("Replaced yellow toner"),
                                    field_options|merge(checkboxOptions)
                                ) }}
                            {% endif %}
                            {% block form_fields %}
                                {{ fields.numberField(
                                    'qr_ticket_data[total2_black_field]',
                                    countersDefaultValues['blackCounterDefaultValue'],
                                    _t('Black counter') ~ '<br>(' ~ _t('please fill with real values') ~ ')',
                                    field_options|merge({
                                        'min': total2BlackRequiredMinimum ?? 0
                                    })
                                ) }}

                                {% if isColorPrinter %}
                                    {{ fields.numberField(
                                        'qr_ticket_data[total2_color_field]',
                                        countersDefaultValues['colorCounterDefaultValue'],
                                        _t('Color counter') ~ '<br>(' ~ _t('please fill with real values') ~ ')',
                                        field_options|merge({
                                            'min': total2ColorRequiredMinimum ?? 0
                                        })
                                    ) }}
                                {% endif %}

                                {{ fieldsIservice.textareaField(
                                    'qr_ticket_data[message]',
                                    '',
                                    _t('Message'),
                                    field_options|merge({
                                        'rows': 5
                                    })
                                ) }}

                                {{ fields.textField(
                                    'qr_ticket_data[contact_person]',
                                    '',
                                    _t('Contact Person/Phone'),
                                    field_options|merge({
                                        'required': true,
                                    })
                                ) }}

                                {{ include('@iservice/pages/support/components/ticket_documents.html.twig', { 'customLabel': _t('Document/Relevant pictures')}) }}

                                {{ fields.textField(
                                    'qr_ticket_data[send_email]',
                                    sendEmail,
                                    _t('I want confirmation email'),
                                    field_options
                                ) }}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body mx-n2 mb-4 border-top d-flex align-items-center flex-wrap justify-content-center">
            <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
            {{ fieldsIservice.button(
                'submit',
                'submit',
                'submit',
                _t('Send'),
                {
                    'on_click': 'return validateForm();'
                }
            ) }}
        </div>
    </form>
</div>

<script>
    // check if at least one input in the form is filled or at least one checkbox is checked
    function validateForm() {
        var inputs = document.querySelectorAll('input[type="text"], input[type="number"], textarea');
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var filled = false;
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].value && inputs[i].value !== '0') {
                filled = true;
                break;
            }
        }
        for (i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                filled = true;
                break;
            }
        }
        if (!filled) {
            alert('{{ _t('At least one field or checkbox must filled or checked!') }}');
            return false;
        }
        return true;
    }

    document.getElementById('qrForm').addEventListener('submit', function(event) {
        var form = event.target;
        form.action += '&u=https://iservice3.expertline-magazin.ro/apirest.php/';
    });
</script>

